body {
    font-family: Helvetica;
    margin: 0;
    background: rgb(244, 244, 244);
}

.hero {
    background-color: rgb(111, 193, 145);
    color: #fff;
    padding: 10px;
    background-size: cover;
}

.hero nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.hero nav li {
    display: inline-block;
    font-family: Helvetica;
    font-size: 10px;
    width: 100px;
}

@keyframes zoom {
    from {scale: 1} 
    to {scale: 1.3}
}

.hero nav li:hover {
    animation-name: zoom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.hero nav a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.logo{
    display: inline-block;
    width: auto;
}

.hero hr{
    border: 1px solid white;
}


